.App {
  text-align: center;
  transition: all ease-in-out;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.onsidebaractive {
  margin-left: 185px;
  transition: margin-left 0.5s ease; /* Adjust the duration and timing function as needed */

}
.onsidebaractivetop {
  margin-left: 180px;
  transition: margin-left 0.5s ease; /* Adjust the duration and timing function as needed */

}
.onsidebar {
  margin-left: 55px;
  transition: margin-left 0.5s ease; /* Adjust the duration and timing function as needed */
}
.onsidebartop {
  margin-left: 50px;
  transition: margin-left 0.5s ease; /* Adjust the duration and timing function as needed */
}